---
import Navigation from '../components/Navigation.astro';
import Description from '../components/Description.astro';
import Social from '../components/Social.astro';
const skills = ["Python", "C#", "WPF", "SQL", "Arduino", "HTML", "CSS", "JavaScript", "GitHub"]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <Navigation />
		<h1>Mi sitio Astro</h1>
        <Description />
        <h2>Mis habilidades</h2>
        <ul>
            {skills.map(skill => (
                <li>{skill}</li>
            ))}
        </ul>
        <h2>Redes Sociales</h2>
        <ul>
            <li>
                <Social platform="github" username="KlausJung011"/>
            </li>
            <li>
                <Social platform="facebook" username="KlausJung011"/>
            </li>
        </ul>
	</body>
</html>
