---
const skills = ["Python", "C#", "WPF", "Arduino", "HTML", "CSS", "JavaScript", "GitHub"]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
		<a href="/about/">Sobre mí</a>
		<h1>Mi sitio Astro</h1>
        <h2>Sobre mí</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eos laborum non animi temporibus nihil quo quidem. 
            Excepturi illo placeat cum odit ipsa cumque explicabo iusto. 
            Quas quaerat nemo dolorem enim.
        </p>
        <h2>Mis habilidades</h2>
        <ul>
            {skills.map(skill => (
                <li>{skill}</li>
            ))}
        </ul>
	</body>
</html>
