<h2>Sobre mí</h2>
<p>
    Hola, soy Nico Vargas. Me gusta mucho el desarrollo de programas informáticos
    y esta es mi primera página hecha con Astro. 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Eos laborum non animi temporibus nihil quo quidem. 
    Excepturi illo placeat cum odit ipsa cumque explicabo iusto. 
    Quas quaerat nemo dolorem enim.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Ipsam nesciunt officiis cupiditate id eos saepe facilis atque harum illo quo, 
    voluptate fugiat consequatur, aliquid labore quis tempora amet hic voluptates!
    Iste veniam deleniti atque alias minima ea, qui nostrum aspernatur. 
    Deserunt totam, voluptatem tempore dolorem ex, unde corporis vel, 
    asperiores enim modi nobis amet sit ab dolore aperiam ut ipsum?
</p>